@model EKSurvey.Core.Models.ViewModels.Account.RegisterViewModel

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "mt-3", role = "form" }))
{
    @Html.AntiForgeryToken()

    @Html.ValidationSummary("", new { @class = "text-danger form-group row" })
    
    <div class="form-group row">
        @Html.LabelFor(m => m.Email, new { @class = "col-4 col-form-label text-right" })
        <div class="col-8">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group row">
        @Html.LabelFor(m => m.SecondaryEmail, new { @class = "col-4 col-form-label text-right" })
        <div class="col-8">
            @Html.TextBoxFor(m => m.SecondaryEmail, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group row">
        @Html.LabelFor(m => m.PhoneNumber, new { @class = "col-4 col-form-label text-right" })
        <div class="col-8">
            @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group row">
        @Html.LabelFor(m => m.Password, new { @class = "col-4 col-form-label text-right" })
        <div class="col-8">
            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group row">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-4 col-form-label text-right" })
        <div class="col-8">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group row">
        <div class="offset-4 col-8">
            <input type="submit" class="btn btn-primary" value="Register" />
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
