@using EKSurvey.Core.Models.ViewModels.Survey
@using EKSurvey.Core.Models.ViewModels.Test
@model IndexViewModel

@{
    ViewBag.Title = "Available Surveys";
}

@Html.Partial("_Notification")

<div class="row">
    <div class="col-md-6 bg-light py-5">
        <h2 class="display-4">Your surveys</h2>
        @if (Model.NextSurvey == null)
        {
            <p class="lead">There are no available surveys at this time. Thank you for your participation.</p>
        }
        else
        {
            <h3>@Model.NextSurvey.Name</h3>
            <p class="lead mb-5">
                You may start and stop the survey at any time.
            </p>
            <div class="row">
                <div class="offset-md-4 col-md-8">
                    @Html.Partial("_TestStartContinuePrompt", Model.NextSurvey)
                </div>
            </div>
        }
    </div>
    <div class="col-md-6">
        @if (Model.AvailableSurveys.Any())
        {
            <table class="table">
                <thead>
                <tr>
                    <th colspan="2">Available Surveys</th>
                </tr>
                </thead>
                <tfoot></tfoot>
                <tbody>
                    @foreach (var survey in Model.AvailableSurveys)
                    {
                        <tr>
                            <th>@survey.Name</th>
                            <td class="text-right">
                                @Html.Partial("_TestStartContinuePrompt", Model.NextSurvey, new ViewDataDictionary{{"formContext", "table"}})
                            </td>
                        </tr>
                    }

                </tbody>
            </table>
        }
        
        @if (Model.CompletedSurveys.Any())
        {
        }
    </div>
</div>