@using EKSurvey.Core.Models.Entities
@model EKSurvey.Core.Models.ViewModels.Test.ResponseViewModel

@{
    var rangeQuestion = (RangeQuestion)Model.Page;
    var lickertScaleValues = new List<string> { "strongly disagree, disagree, neutral, agree, strongly agree" };
    var lickertScale = (rangeQuestion.Range - 5) >> 1;
}

@if (rangeQuestion.IsHtml)
{
    @Html.Raw(rangeQuestion.Text)
}
else
{
    <h2 class="display-4">@rangeQuestion.Text</h2>
}

@using (Html.BeginForm("Respond", "Test", FormMethod.Post, new { @class = "mt-5" }))
{
    @Html.HiddenFor(m => m.UserId)
    @Html.HiddenFor(m => m.SurveyId)
    @Html.HiddenFor(m => m.TestId)
    @Html.HiddenFor(m => m.PageId)
    @Html.HiddenFor(m => m.PageTypeName)

    <div class="form-group">
        @if (rangeQuestion.IsLickert)
        {
            var rangeItems = Enumerable.Range(-1 * (rangeQuestion.Range >> 1), rangeQuestion.Range);
            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                @foreach (var i in rangeItems)
                {
                    <label class="btn btn-primary">
                    @Html.RadioButtonFor(m => m.Response, i, new { autocomplete="off" })
                        @{
                            var shink = Math.Abs(i) % lickertScale;
                            var showLabel = shink == 0;
                            if (showLabel)
                            {
                                var labelIndex = 0;
                                @Html.Raw(lickertScaleValues[labelIndex])
                            }
                        }
                    </label>
                }
            </div>

        }
        else
        {

        }
    </div>

    <div class="row">
        <div class="col-3">
            @if (Model.PriorPageId.HasValue)
            {
                <a class="btn btn-link" href="@Url.Action("Respond","Test", new { pageId = Model.PriorPageId })">Back</a>
            }
        </div>
        <div class="offset-6 col-3">
            <button class="btn btn-block btn-success" type="submit"> Continue <i class="fa fa-arrow-right"></i></button>
        </div>

    </div>
}