@using EKSurvey.UI.Extensions
@model EKSurvey.Core.Models.ViewModels.Test.SectionReviewViewModel

@{
    ViewBag.Title = Model.SurveyName;

    var surveyClosing = Model.IsLastSection
        ? "completing the survey"
        : "continuing to the next section";
}

<h2>Section Review</h2>
@if (Model.Responses.Any(r => r.IsQuestion))
{
    <p class="lead">Before @surveyClosing, please review and confirm that the following is correct.</p>
    <table class="table">
        <thead>
        <tr>
            <th>Question</th>
            <th>Response</th>
            <th>&nbsp;</th>
        </tr>
        </thead>
        <tfoot></tfoot>
        <tbody>
        @foreach (var item in Model.Responses.Where(r => r.IsQuestion))
        {
            <tr>
                <td>@item.Text</td>
                <td><em>@item.PageUserResponse()</em></td>
                <td class="text-right">
                    @Html.ActionLink("Change", "Respond", "Test", new { id = Model.SurveyId, pageId = item.PageId }, new { @class="btn btn-success" })
                </td>
            </tr>
        }
        </tbody>
    </table>
}
else
{
    <p class="lead">Please continue to the next section.</p>
}


@using (Html.BeginForm("SectionComplete", "Test", FormMethod.Post, new {@class = "mt-5"}))
{
    @Html.Hidden("Id", Model.SurveyId)
    <div class="row">
        <div class="offset-10 col-2">
            <button class="btn btn-block btn-primary">
                @(Model.IsLastSection ? "Finish Survey" : "Continue")
                <i class="fa fa-arrow-right"></i>
            </button>
        </div>
    </div>
}
